@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Pacifico&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #000000e8;
    ;
}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/*Formatação do scroll*/


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: #4b4453;
    border-radius: 50px;
}


/*Sessão principal*/

section#apresentacao{
    padding: 15px;
}


/*Div principal da apresentação*/

div#principal{
    position: relative;
    margin-bottom: 200px;
    margin-left: 250px;
    margin-right: 835px;
    width: 500px;
    top: 90px;


}

div#principal p{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    font-size: 21px;
    color: #ffff;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
div#principal h3{
    font-family: 'Amatic SC', cursive;
    font-family: 'Bangers', cursive;
    color: #ffff;
    margin-left: 12px;
}



/*EFEITO DE DIGITAÇÃO ABERTURA*/

div#principal p{
    color: rgb(255, 255, 255); 
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }

div#principal p:nth-child(2){
    animation: type2 4s steps(60, end);
  }
  

  @keyframes type2{ 
    from { width: 0; } 
    
  } 
  
  @keyframes type{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }



/*SOBRE MIM*/


div#sobre-mim{
    color: #ffffff;
}

div#sobre-mim h1{
    text-shadow: 2px 5px 3px rgba(15, 12, 238, 0.867);
    font-size: 25px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-family: 'Bangers', cursive;
}
div#sobre-mim{
    margin-left: -20px;
    background-color: #2b2b2b;
    padding: 50px 20px;
    padding-bottom: 2px;
    margin-top: 9.5%;
    width: 100%;
    margin-bottom: 2%;
    color: white;
    display: inline-block;
    box-shadow: 0px 0px 15px rgb(163, 163, 163);    
}

#sobre-mim{
    border-radius: 5%;
}

#sobre-mim p {
    width: 50%;
    text-justify: center;
    float: left;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}



/*Formatação da area Projetos*/

#projetos h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 5px 3px rgba(15, 12, 238, 0.867);
    margin-bottom: 5%;
}

#projeto-1 h3{
    font-size: 15px;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

div#projeto-1{
    background-color: #242323;
    width: 300px;
    height: 125px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10%;
    text-align: center;
    margin-left: 15px;

}
#projeto-2{
    background-color: #242323;
    width: 300px;
    height: 125px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10%;
    text-align: center;
}

div#projeto-2{
    position: relative;
    left: 280px;
    margin-top: 10px;
}



#projeto-2 h3{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
}

#projeto-3 h3{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
}

#projeto-3{
    background-color: #2b2b2b;
    width: 300px;
    height: 125px;
    padding: 10px;
    border-radius: 10%;
}

#projeto-3{
    position: relative;
    left: 540px;
    margin-top: 10px;
}

div#projetos{
    margin-top: 10%;
    color: #ffff;   

}



/*Formatação do Menu*/

.container{
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

header{
    background-color: #000000;
    width: 100%;
    color: #ffff;
}

.menu{
    width: 50%;
}

.menu nav a{
    text-decoration: none;
    color: #ffffff;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
    right: 20px ;

}


/*Efeito linha colorida sublinhando*/

.menu nav a::after{
    content:" ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, rgba(102, 43, 241, 0.911), rgb(233, 24, 24) );
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 1s;
}

.menu nav a:hover::after{
    width: 30px;
}



/*Formatação dos botões de rede socia*/

.social button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, rgba(102, 43, 241, 0.911), rgb(233, 24, 24) );
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.social button i {
    font-size: 20px;
    color: #ffff;
}



/*Formatação do logo*/

.logo,.social{
    width: 25%;
    cursor: pointer;
}

.logo p{
    display: flex;
    position: absolute;
    top: 45px;
    left: 100px;
}

.logo h1{
    display: flex;
    position: relative;
    top: -10px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0px 20px 3px #ffff;
}

/*Formatação do rodapé*/

footer#rodape{
    
	color: rgb(0, 0, 0);
    height: 100px;
    padding-top: 50px;
    display: none;
}

footer#rodape p{
    color: #ffff;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
