@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Pacifico&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #000000e8;
    background-image: linear-gradient(to right, rgb(15, 10, 24), rgb(7, 19, 151),rgb(5, 12, 85));
}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*MENU NOVO RESPONSIVO*/

#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #f7f2f2;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
	
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a
{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover
{
	font-weight: bold;
}
.nav li
{
	list-style: none;
	padding: 16px 0;
}
.nav
{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top:0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,#542ce7cc,#0d11e04d);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index:2;

}
.change-bg
{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
} 




/*Formatação do scroll*/


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: #4b4453;
    border-radius: 50px;
}


/*Sessão principal*/

section#apresentacao{
    padding: 15px;
}

#img{
    max-width: 100%;
    position: relative;
    left: 550px;
    margin-right: 25px;
    top: -140px;
    border-radius: 45%;
    box-shadow: 0px 20px 50px rgb(0, 0, 0);
}

/*Div principal da apresentação*/

div#principal{
    position: relative;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 835px;
    max-width: 100%;
    top: 90px;


}

div#principal p{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    font-size: 21px;
    color: #ffff;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
div#principal h3{
    font-family: 'Amatic SC', cursive;
    font-family: 'Bangers', cursive;
    color: #ffff;
    margin-left: 12px;
}



/*EFEITO DE DIGITAÇÃO ABERTURA*/

div#principal p{
    color: rgb(255, 255, 255); 
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }

div#principal p:nth-child(2){
    animation: type2 4s steps(60, end);
  }
  

  @keyframes type2{ 
    from { width: 0; } 
    
  } 
  
  @keyframes type{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: rgb(0, 0, 0);
  }



/*SOBRE MIM*/


div#sobre-mim{
    color: #ffffff;
}

div#sobre-mim h1{
    text-shadow: 2px 5px 3px rgba(112, 65, 165, 0.867);
    font-size: 25px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-family: 'Bangers', cursive;
    
}

div#sobre-mim{
    background-color: #2b2b2b9c;
    padding-bottom: 2px;
    padding-top: 0;
    width: 100%;
    margin-bottom: 2%;
    color: white;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 5px 2px 25px rgb(0, 0, 0);    
    padding-bottom: 25px;
}


#sobre-mim p {
    width: 50%;
    float: left;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
 
}



/*Formatação da area Projetos*/
#projetos{
    
    padding-bottom: 20px;
}
#projetos h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 30px;
    position: relative;
    text-align: center;
    text-shadow: 2px 5px 3px rgba(15, 12, 238, 0.867);
    margin-bottom: 5%;
}

#projeto-1 h3{
    font-size: 15px;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

div#projeto-1{
    background-color: #242323;
    width: 300px;
    height: 125px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10%;
    text-align: center;
    left: 300px;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px white;

}


#projeto-2{
    background-color: #242323;
    width: 300px;
    height: 125px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10%;
    text-align: center;
    
}

div#projeto-2{
    position: relative;
    left: 300px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px white;
}



#projeto-2 h3{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
}

#projeto-3 h3{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Pacifico', cursive;
}

#projeto-3{
    background-color: #2b2b2b;
    width: 300px;
    height: 125px;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px white;
    margin-bottom: 40px;
}

#projeto-3{
    position: relative;
    left: 300px;
    margin-top: 10px;
}

div#projetos{
    margin-top: 10%;
    color: #ffff;   

}

/*ABA CUR*/

#cursos{
    background-color: #2b2b2b9c;
    color:#FFFF;
    text-align: center

}

#cursos h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 30px;
    position: relative;
    text-align: center;
    text-shadow: 2px 5px 3px rgba(15, 12, 238, 0.867);
    margin-bottom: 5%;
}



/*Formatação da interface*/

#interface{
    max-width: 100%;
    position: relative; /*Posição relativa dentro da div*/
    margin: 10px auto -11px auto;
    padding: 10px;
    background-color: #24242500; /*Deixando a interface transparente*/
   /* box-shadow: 0px 0px 10px black;*/

}



/*Formatação dos botões de rede socia*/

.social button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, rgba(102, 43, 241, 0.911), rgb(233, 24, 24) );
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0%;
    
    
}

.social button i {
    font-size: 20px;
    color: #ffff;
    
}

.social a{
    position: relative;
    left: 180%;
}


.social{
    width: 25%;
    cursor: pointer;
    
}

/*Formatação do rodapé*/
footer#rodape{
    max-width: 100%;
}
footer#rodape p{
    border-top: 1px solid rgb(17, 3, 56);
    height: 20px;
    padding-top: 65px;
    display: block;
}

footer#rodape p{
    color: #ffff;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

footer#rodape button{
    margin-bottom: 20px;
}


/*FORMATAÇÃO DO BOTAO TOPO*/

#link-topo{
	text-decoration: none;
	color: rgb(172, 165, 179);
	padding: 6px;
	background-color: #3e384b;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px rgb(59, 58, 58);
}